* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
.auth-page {
  width: 100%;
  height: 100vh;
  background: #0f0f14;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    to right,
    #a855f7 0,
    #a855f7 calc(50%),
    #0f0f14 calc(50%),
    #0f0f14 100%
  );
}

/* CARD */
.auth-card {
  width: 1000px;
  height: 520px;
  display: flex;
  background: #141414;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  transition: transform 0.4s ease;
}

.auth-card-wrapper {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none; /* background ke liye */
}

.auth-card-wrapper > * {
  pointer-events: all; /* form clickable rahe */
}

.auth-card:hover {
  transform: translateY(-6px);
}

/* LEFT */

.auth-left {
  flex: 1;
  padding: 40px;
  color: #fff;
}

.sub-text {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 25px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #444;
  color: white;
  transition: all 0.3s ease;
}

.auth-input:focus {
  outline: none;
  border-color: #a855f7;
  box-shadow: 0 4px 10px rgba(168, 85, 247, 0.4);
}

.forgot-text {
  font-size: 12px;
  color: #a855f7;
  cursor: pointer;
  margin-bottom: 20px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #a855f7, #7c3aed);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(168, 85, 247, 0.5);
}

.bottom-text {
  margin-top: 25px;
  font-size: 13px;
}

.bottom-text span {
  color: #a855f7;
  cursor: pointer;
}

.bottom-text span:hover {
  text-decoration: underline;
}

.error-text {
  color: #f87171;
  margin-bottom: 10px;
}

/* RIGHT SECTION */

.auth-right {
  flex: 1;
  background: #a855f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* IMAGE ONLY */
.auth-image {
  width: 100%;
  max-width: 420px; /* image zyada badi na ho */
  height: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* hover effect */
.auth-image:hover {
  transform: scale(1.05);
}

/* ===== OTP UI ===== */

.otp-card {
  width: 450px;
  padding: 50px 40px;
  background: #141414;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
  color: white;
  margin: auto;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.otp-box {
  width: 55px;
  height: 60px;
  font-size: 22px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #333;
  background: #1c1c1c;
  color: white;
  transition: 0.3s;
}

.otp-box:focus {
  outline: none;
  border-color: #a855f7;
  box-shadow: 0 0 12px rgba(168, 85, 247, 0.6);
}

@media (max-width: 768px) {
  .auth-right {
    display: none;
  }

  .auth-card {
    width: 100%;
    max-width: 420px;
  }
}
